<div class="indicator">
    <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <span class="indicator-item indicator-top indicator-start badge badge-error">
            <button (click)="deleteGame(game.id!)"><i class="fa-solid fa-trash"></i></button>
        </span>
        <span class="indicator-item indicator-top indicator-end badge badge-success">
            <button (click)="editGame(game)"><i class="fa-solid fa-pen"></i></button>
        </span>

        <a [routerLink]="['/details', game.id]">
            <img [src]="game.image"/>
        </a>
        <div class="px-5 pb-5">
            <a [routerLink]="['/details', game.id]">
                <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                    {{ game.name }}
                </h5>
            </a>
            <div class="flex items-center justify-between">
                <span class="text-3xl font-bold text-gray-900 dark:text-white">
                    {{ game.price }} €
                </span>
                <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ml-5" [routerLink]="['/details', game.id]">Ver producto</a>
            </div>
        </div>
    </div>
</div>

      
