<div class="carousel w-full">
    <div id="item1" class="carousel-item w-full">
      <img src="https://media.game.es/CMS/Highlights/mult-reserva-F12024-s4424-h.jpg" class="w-full" />
    </div>
</div>

<div class="bg-stone-200 h-30 text-center">
    <span class="text-red-600">OFERTA FLASH <i class="fa-solid fa-bolt" style="color: #FFD43B;"></i></span><strong> Teclado Gaming Razer</strong>
    <div style="display: flex; align-items: center; justify-content: center;">
      <div class="grid grid-flow-col gap-5 mt-3 text-center auto-cols-max d-flex justify-content-center">
        <div class="flex flex-col">
          <span class="countdown font-mono text-5xl">
            <span style="--value:00;"></span>
          </span>
          Días
        </div> 
        <div class="flex flex-col">
          <span class="countdown font-mono text-5xl">
            <span style="--value:10;"></span>
          </span>
          Horas
        </div> 
        <div class="flex flex-col">
          <span class="countdown font-mono text-5xl">
            <span style="--value:09;"></span>
          </span>
          Minutos
        </div> 
        <div class="flex flex-col">
          <span class="countdown font-mono text-5xl">
            <span style="--value:49;"></span>
          </span>
          Segundos
        </div>
      </div>
    </div> 
</div>

<p class="text-3xl ml-8 mt-14 mb-8 font-bold">¡Nuevos lanzamientos!</p>
<div class="carousel carousel-end rounded-box ml-16">
    <div class="carousel-item mr-5">
        <div class="card card-compact w-80 bg-base-100 shadow-xl">
            <figure><img src="https://media.game.es/COVERV2/3D_L/223/223029.png"/></figure>
            <div class="card-body">
              <h2 class="card-title">FINAL FANTASY VII REBIRTH
                  <div class="badge badge-secondary">NUEVO</div>
              </h2>
              <p class="font-bold">79,99€</p>
              <div class="card-actions justify-end">
                  <div class="badge badge-outline">Playstation 5</div>
              </div>
            </div>
        </div>
    </div> 
    <div class="carousel-item mr-5">
        <div class="card card-compact w-80 bg-base-100 shadow-xl">
            <figure><img src="https://media.game.es/COVERV2/3D_L/226/226240.png"/></figure>
            <div class="card-body">
              <h2 class="card-title">DRAGON´S DOGMA 2
                  <div class="badge badge-secondary">NUEVO</div>
              </h2>
              <p class="font-bold">74,99€</p>
              <div class="card-actions justify-end">
                  <div class="badge badge-outline">Playstation 5</div>
                  <div class="badge badge-outline">Xbox Series X</div>
              </div>
            </div>
        </div>
    </div> 
    <div class="carousel-item mr-5">
        <div class="card card-compact w-80 bg-base-100 shadow-xl">
            <figure><img src="https://media.game.es/COVERV2/3D_L/226/226464.png"/></figure>
            <div class="card-body">
              <h2 class="card-title">RISE OF THE RONIN
                  <div class="badge badge-secondary">NUEVO</div>
              </h2>
              <p class="font-bold">79,99€</p>
              <div class="card-actions justify-end">
                  <div class="badge badge-outline">Playstation 5</div>
              </div>
            </div>
        </div>
    </div> 
    <div class="carousel-item">
        <div class="card card-compact w-80 bg-base-100 shadow-xl">
            <figure><img src="https://media.game.es/COVERV2/3D_L/221/221209.png"/></figure>
            <div class="card-body">
              <h2 class="card-title">TEKKEN 8 LAUNCH EDITION
                  <div class="badge badge-secondary">NUEVO</div>
              </h2>
              <p class="font-bold">69,99€</p>
              <div class="card-actions justify-end">
                  <div class="badge badge-outline">PC</div>
                  <div class="badge badge-outline">Playstation 5</div>
                  <div class="badge badge-outline">Xbox Series X</div>
              </div>
            </div>
        </div>
    </div>  
</div>

<p class="text-3xl ml-8 mt-14 font-bold">Apartados</p>
<div class="carousel carousel-end mb-10">
  <div class="carousel-item">
    <div class="button-container d-inline-block" style="position:relative">
      <img class="mask mask-parallelogram" style="width: 400px; height: 400px;" src="https://es.digitaltrends.com/wp-content/uploads/2023/11/ps5_4_featuredimage_2006092x.jpg?p=1"/>
      <button class="bg-black text-white rounded-full right-44 bottom-5 p-4" style="position: absolute;">PlayStation 5</button>
    </div>
  </div> 
  <div class="carousel-item">
    <div class="button-container d-inline-block" style="position:relative">
      <img class="mask mask-parallelogram" style="width: 400px; height: 400px;" src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2022/02/mando-nintendo-switch-2609385.jpg?tf=3840x"/>
      <button class="bg-black text-white rounded-full right-44 bottom-5 p-4" style="position: absolute;">Nintendo Switch</button>
    </div>  
  </div> 
  <div class="carousel-item">
    <div class="button-container d-inline-block" style="position:relative">
      <img class="mask mask-parallelogram" style="width: 400px; height: 400px;" src="https://assetsio.gnwcdn.com/xbox-series-x-controller-share-button-d-pad-6400-1581346252065.jpg?width=1200&height=600&fit=crop&enable=upscale&auto=webp"/>
      <button class="bg-black text-white rounded-full right-44 bottom-5 p-4" style="position: absolute;">Xbox Series</button>
    </div>  
  </div> 
  <div class="carousel-item">
    <div class="button-container d-inline-block" style="position:relative">
      <img class="mask mask-parallelogram" style="width: 400px; height: 400px;" src="https://i0.wp.com/wortenes.wpcomstaging.com/wp-content/uploads/2022/04/Consolas-Retro.jpg?fit=1000%2C647&ssl=1"/>
      <button class="bg-black text-white rounded-full right-44 bottom-5 p-4" style="position: absolute;">Consolas</button>
    </div>  
  </div> 
  <div class="carousel-item">
    <div class="button-container d-inline-block" style="position:relative">
      <img class="mask mask-parallelogram" style="width: 400px; height: 400px;" src="https://i.blogs.es/086109/mejores-auriculares-gaming-guia-de-compra/1366_2000.jpg"/>
      <button class="bg-black text-white rounded-full right-44 bottom-5 p-4" style="position: absolute;">Auriculares</button>
    </div>  
  </div> 
</div>